.principal {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.principal img {
  height: 500px;
  width: auto; 
  max-width: 85%; 
  object-fit: cover; 
  border-radius: 20px;
}

.thumbnails {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: nowrap;
  margin-top: 25px;
  overflow: auto;
}

.thumbnails img {
  width: 100px;
  height: 100px;
}

.selected {
  border: 2px solid red;
}

.arrow {
  color: black;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 20px;
}

.arrow:hover {
  background: rgba(184, 180, 180, 0.8);
}