.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.principal {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.principal img {
  height: 500px;
  width: auto; 
  max-width: 85%; 
  object-fit: cover; 
  border-radius: 20px;
}

.thumbnails {
  display: flex;
  gap: 15px;
  margin-top: 25px;
  overflow-x: auto;
  overflow-y: hidden;
  width: 564px;
}

.thumbnails img {
  width: 100px;
  height: 100px;
  flex-shrink: 0;
}

.selected {
  border: 2px solid red;
}

.arrow {
  color: black;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 20px;
}

.arrow:hover {
  background: rgba(184, 180, 180, 0.8);
}

@media (max-width: 768px) {
  .thumbnails {
    width: 320px;
  }
}

@media (max-width: 480px) {
  .thumbnails {
    width: 220px;
  }
}